---
- name: "libvirt_restart"
  service:
    name: libvirtd
    state: restarted

- name: "ufw_restart"
  service:
    name: ufw
    state: restarted

- name: "ufw_reload"
  shell: "ufw reload"

- name: sysfs_restart
  service:
    name: sysfs
    state: restarted

- name: "cloudstack_agent_restart"
  throttle: 1
  service:
    name: cloudstack-agent
    state: restarted

- name: "cloudstack_mgmt_restart"
  throttle: 1
  script: "cloudstack_mgmt_start.sh 1"

- name: "nginx_restart"
  service:
    name: nginx
    state: restarted
