---
- name: "libvirt_restart"
  ansible.builtin.service:
    name: libvirtd
    state: restarted

- name: "ufw_restart"
  ansible.builtin.service:
    name: ufw
    state: restarted

- name: "ufw_reload"
  ansible.builtin.command: "ufw reload"
- name: sysfs_restart
  ansible.builtin.service:
    name: sysfs
    state: restarted

- name: "cloudstack_agent_restart"
  throttle: 1
  ansible.builtin.service:
    name: cloudstack-agent
    state: restarted

- name: "cloudstack_mgmt_restart"
  throttle: 1
  ansible.builtin.script: "cloudstack_mgmt_start.sh 1"
- name: "nginx_restart"
  ansible.builtin.service:
    name: nginx
    state: restarted
